# Gitignore for AnimaLoom project

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
venv/
*.egg-info/
.pytest_cache/

# Editor/IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Backups
*.tar.gz
